img{
    max-width: 100%;
}
.header{
    min-height: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shadow{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}
.upper{
    text-transform: uppercase;
}
.mb-2{
    margin-bottom: 2rem;
}
.botones{
    display: flex;
    justify-content: center;
}
.botones button{
    margin: .5rem;
}
.peli-info{
    text-align: center;
}
.infobox1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-info{
    margin-top: 2.5rem;
}
.infobox2 h2{
    margin: 0;
}

/*LOADER*/

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #212121;
    border-color: #212121 transparent #212121 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }